/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #dbdbdb;
    background: #202b38;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the main content horizontally */
    justify-content: center; /* Centers the main content vertically */
    min-height: 100vh; /* Ensures the content takes up the full height of the viewport */
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
    width:94%; /* Makes the header span the full width of the page */
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

main {
    padding: 20px;
    text-align: center; /* Centers the text within the main content */
}

.description p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.details h2 {
    color: #007BFF;
    margin-top: 20px;
}

.details ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
    display: inline-block; /* Ensures the list stays centered */
    text-align: left; /* Aligns the bullet points within the list */
}

.details ul li {
    margin-bottom: 10px;
}

.details p {
    font-size: 1em;
    margin: 5px 0;
}

/* CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

a:visited {
color:white;
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
